.article-container {
  /* border: solid red; */
  margin: 50px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 40px;
  height: 550px;
  
}


.article-container > *{
    width: 20%;
}